/* app css stylesheet */


.header-class{
  background-image: url('../assets/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 30vh;
  padding-top: 3%;
  padding-left: 5%;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.list-header{
  font-weight: bolder;
  padding: 1%;
  font-size: 16px;
  display: inline-block;
}

.pokemon{
  font-weight: bolder;
  min-width: 300px;
  padding: 0 4px;
}

.pokemon-name{
  position: relative;
  top: 30px;
  right: 20px;
  text-transform: capitalize;
}

.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

